body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* 여기에 코드를 작성해주세요 */
.container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.item{
  border: 1px solid white;
  background-color: black;
  color: orange;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}